@font-face {
  font-family: "iconfont"; /* Project id 4118020 */
  src: url('iconfont.ttf?t=1686734589292') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-meeting:before {
  content: "\e6bb";
}

.icon-meeting-filled:before {
  content: "\e62d";
}

.icon-article-fill:before {
  content: "\e608";
}

.icon-article:before {
  content: "\e60c";
}

.icon-tag:before {
  content: "\e600";
}

.icon-tag-filled:before {
  content: "\e63c";
}

